body {
    font-family: "Saira Extra Condensed", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
.leftside{
    display: block;
    width: 50% !important;
}
.Header {
    margin-top: 2.5em;
    display: inline-block;
    text-align: center;
    width: 100%;
}
.header1::before {
    content: "Peyman";
    font-size: 3.7em;
    font-weight: bold;
}
.header2::before {
    content: "Hadavi";
    font-size: 3.7em;
    font-weight: bold;
    color: #bd5d38;
}
.subheading::before {
    content: '\a Phone: +989030525589';
    white-space: pre;
    font-weight: 500;
    font-size: 1.1rem;
    color: rgba(32, 31, 31, 0.781);
}
.subheading::after {
    content: 'Email:PEYMANHC@GMAIL.COM';
    white-space: pre;
    font-weight: 500;
    margin-left: 10px;
    font-size: 1.1rem;
    color: #bd5d38;
}
.subtitle{
    display: inline-block;
    content: 'Pejman';
    text-align: center;
    width: 100%;
}
.subtitle::before {
    margin-top: 3em;
    content: 'Lorem ipsum is placeholder text commonly used in the graphic, print, and publishing industries for previewing layouts and visual mockups.';
    position: absolute;
    color: rgba(32, 31, 31, 0.671);
    transform: translate(-50%, -50%);
    width: 50%;
    
}
#icons{
    display: inline-block;
    text-align: center;
    width: 100%;
}
.icon {
    margin-top: 4em;
    display: inline-block;
    text-align: center;
    height: 3.5rem;
    width: 3.5rem;
    background-color: #495057;
    border-radius: 100%;
  }
.fonticon{
    margin-left: 0.5em ;
    color: white;
    cursor: pointer;
    line-height: 1.8 !important;
    font-size: 30px !important;
    display: inline;
    position: relative;
}
.skill{
    margin-top: 7em;
    display: inline-block;
    text-align: center;
    width: 100%;
}
.skill:before {
    content: "SKILLS";
    font-size: 4em;
    font-weight: bold;
}
.subSkill:after {
    content: '\a Programming Languages & Tools';
    white-space: pre;
    font-weight: bold;
    font-size: 1.2rem;
    display: inline-block;
    text-align: center;
    width: 100%;
    color: rgba(32, 31, 31, 0.781);
    margin-top: 2em !important;
}
.skillsicon{
    margin-top: 1em;
    display: inline-block;
    text-align: center;
    width: 100%;
}
.skillicon{
    color:#495057;
    margin: 0.5em;
    cursor: pointer;
    line-height: 1.8 !important;
    font-size: 50px !important;
    display: inline;
    position: relative;
}
.edditionalsky::before{
    content: 'Lorem ipsum is placeholder text commonly used in the graphic, print, and publishing industries for previewing layouts and visual mockups.    ';
    font-weight: bold;
    display: inline-block;
    text-align: center;
    width: 80%;
    color: rgba(32, 31, 31, 0.781);
}
@media screen and (max-width:840px){
    .leftside{
        line-height: 30px !important;
    }
    .subtitle{
        margin-top: 60px;
    }
    .Header{
        line-height: 60px;
    }
    .subheading::after {
        content: '\a NAME@EMAIL.COM';
        white-space: pre;
    }
    .fonticon {
        margin-left: 0.5em;
        color: white;
        cursor: pointer;
        line-height: 1.8 !important;
        font-size: 20px !important;
        display: inline;
        position: relative;
    }
    .icon {
        margin-top: 7.8em;
        height: 2.5rem;
        width: 2.5rem;
    }
}
